.Themebackgroundcolor {
  background-color: #120f2d;
}

.iconColor {
  color: #f14d5d;
}

.iconColorSecondary {
  color: #ffffff;
}

.navItemsColor {
  color: #120f2d;
  font-weight: 600;
}

.secondaryColor {
  color: #2878eb;
}

.buttonColorA {
  background-color: #f14d5d;
}

.yellowColor {
  color: #f5ac00;
}

.blackTextColor {
  color: #120f2d;
}

.greenColor {
  background-color: #5fc396;
}
.yellowColorbg {
  background-color: #f5ac00;
}

.redBgColor {
  background-color: #e74c5c;
}
.darkBlueBgColor {
  background-color: #120f2d;
}
